.DS_Store
Pods
OperationCloudKit.xcodeproj/xcuserdata/*
OperationCloudKit.xcodeproj/xcuserdata/*
OperationCloudKit.xcodeproj/project.xcworkspace/xcuserdata/LeoT.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate
OperationCloudKit/OperationCloudKit.entitlements
OperationCloudKit.xcworkspace/xcuserdata
